<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Página de cadastro</title>
    <link rel="stylesheet" href="./style/style-index.css">
</head>

<body>
    <main>
        <div class="up-main">
            <img src="../image/logo-binary-code.png" alt="logo">
            <h1>PJP SYSTEM</h1>
        </div>
        <div class="down-main">
            <form action="">
                <button class="btn-login">LOGIN</button>
                <button class="btn-signUp">SIGN-UP</button>
            </form>
        </div>
    </main>
</body>