<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Página de cadastro</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <header>
        <div class="cabeçalho">
            <img src="./image/logo-binary-code.png" alt="logo-nav">
            <nav>
                <input type="text" name="search" placeholder="Pesquisar..">
            </nav>
            <div class="cabeçalho-perfil">
                <div><img class="cabeçalho-perfil-imagem" src="./image/perfil-de-usuario.png" alt="figura de perfil">
                </div>
                <div class="cabeçalho-perfil-conta">Conta</div>
            </div>
        </div>
    </header>
    <main id="main-listaProduto">
        <div id="main-titulo"><h1><b>Lista de produtos</b></h1></div>
        <section id="section-listaProduto">
            <button class="button-list" type="submit">Editar</button>
        </section>
    </main>
</body>

</html>