* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    text-rendering: optimizelegibility;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #5e5e5e;
}

header .cabeçalho {
    width: 100%;
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header .cabeçalho img {
    width: 100%;
    max-width: 48px;
    margin: auto;
}

header .cabeçalho nav {
    width: 80%;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    float: right;
}

header .cabeçalho input {
    height: 32px;
    width: 240px;
    border: 1px solid #012D4E;
    -webkit-border-radius: 7px;
}

header .cabeçalho .cabeçalho-perfil {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
}

header .cabeçalho .cabeçalho-perfil-imagem {
    width: 100%;
    max-width: 32px;
}

header .cabeçalho .cabeçalho-perfil-conta {
    color: #fff;
    background-color: #012D4E;
    text-align: center;
    min-width: 60px;
    font-size: 12px;
    -webkit-border-image: 7px;
}

.cabeçalho-perfil-imagem,
.cabeçalho-perfil:hover {
    cursor: pointer;
    opacity: 0.9;
}

/*******************TELA DE CADASTRO DE PRODUTO************/
main {
    width: 100%;
    max-width: 980px;
    margin: auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    margin-top: 2%;
    width: 50%;
    display: block;
    float: left;
    justify-content: space-between;
    align-items: flex-end;
}

main input {
    background-color: #5e5e5e;
    border: 1px solid #012D4E;
    height: 32px;
    width: 240px;
    margin: 12px;
    display: block;
    -webkit-border-radius: 7px;
}

main #imagemIn {
    background-color: #fff;
    height: auto;
}

main .botoes {
    margin-top: 5%;
    width: 252px;
    display: flex;
    justify-content: space-around;
}

main .botoes .form-button {
    border: 1px solid #012D4E;
    height: 32px;
    width: 240px;
    margin: 12px;
    -webkit-border-radius: 7px;
    color: #fff;
    box-shadow: 0 0 40px 40px #5e5e5e inset, 0 0 0 0 #012D4E;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

main .botoes .form-button:hover {
    transform: scale(1.1);
    transition: all 1.5s;
}

main .sectionImg {
    max-width: 400px;
    padding: 25px;
}

/****************************************************/

/**********SESSAO DE RESULTADO***********************/
.main-resultado {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-resultado .form-button {
    border: 1px solid #012D4E;
    height: 32px;
    width: 240px;
    margin: 12px;
    -webkit-border-radius: 7px;
    color: #fff;
    box-shadow: 0 0 40px 40px #5e5e5e inset, 0 0 0 0 #012D4E;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.main-resultado .form-button:hover {
    transform: scale(1.1);
    transition: all 1.5s;
}

/***************************************************/

/**************TELA ADM*****************************/
.container-adm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-adm-opcao {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.button-adm {
    border: 1px solid #012D4E;
    height: 32px;
    width: 240px;
    margin: 12px;
    -webkit-border-radius: 7px;
    color: #fff;
    box-shadow: 0 0 40px 40px #5e5e5e inset, 0 0 0 0 #012D4E;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

button:hover {
    transform: scale(1.1);
    transition: all 1.5s;
}

/***************************************************/

/*************LISTA DE PRODUTOS*********************/
#main-listaProduto {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#main-titulo {
    display: flex;
    justify-content: center;
}

#section-listaProduto {
    border-width: 1px;
    border-style: solid;
    border-color: #012D4E;
    display:flex;
    justify-content: left;
    margin-top: 12px;
    width: 600px;
    height: 150px;   
}

.button-list {
    border: 1px solid #012D4E;
    height: 32px;
    width: 200px;
    margin: 12px;
    -webkit-border-radius: 7px;
    color: #fff;
    box-shadow: 0 0 40px 40px #5e5e5e inset, 0 0 0 0 #012D4E;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

/***************************************************/