<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Lista de produtos</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <header>
        <div class="cabeçalho">
            <img src="./image/logo-binary-code.png" alt="logo-nav">
            <nav>
                <input type="text" name="search" placeholder="Pesquisar..">
            </nav>
            <div class="cabeçalho-perfil">
                <div><img class="cabeçalho-perfil-imagem" src="./image/perfil-de-usuario.png" alt="figura de perfil">
                </div>
                <div class="cabeçalho-perfil-conta">Conta</div>
            </div>
        </div>
    </header>
    <main class="container-adm">
        <div class="title-adm">
            <h1><b>Administração</b></h1>
        </div>
        <div class="container-adm-opcao">
            <button class="button-adm">Cadastrar produto</button>
            <button class="button-adm">Alterar produto</button>
            <button class="button-adm">Excluir produto</button>
            <button class="button-adm">Listar produtos</button>
            <button class="button-adm">Voltar</button>
        </div>
    </main>
</body>

</html>