<header>
        <div class="cabeçalho">
            <img src="./image/logo-binary-code.png" alt="logo-nav">
        </div>
</header>

<div class="container-fluid flex border border-dark p-3 my-3 mt-3" >
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Preço</th>
                <th>Cadastro</th>
                <th>Ultima modificação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each retorno}}
            <tr>
                <th>{{nome}}</th>
                <th>{{categoria}}</th>
                <th>R${{preco}}</th>
                <th>{{#formatDate createdAt}}{{/formatDate}}</th>
                <th>{{#formatDate updateAt}}{{/formatDate}}</th>
                <th><a href="/produto/editar-produto/{{id}}">
                    <button class="btn btn-dark">Editar</button>
                </a>
                </th>
            </tr>
            {{/each}}
        </tbody>


    </table>
    <a href="http://localhost:8080/produto">
        <button class="btn btn-dark">Voltar</button>
    </a>
</div>
