<header>
        <div class="cabeçalho">
            <img src="./image/logo-binary-code.png" alt="logo-nav">
            <nav>
                <input type="text" name="search" placeholder="Pesquisar..">
            </nav>
            <div class="cabeçalho-perfil">
                <div><img class="cabeçalho-perfil-imagem" src="./image/perfil-de-usuario.png" alt="figura de perfil">
                </div>
                <div class="cabeçalho-perfil-conta">Conta</div>
            </div>
        </div>
</header>

<main id="main-listaProduto">
    <div id="main-titulo"><h1><b>Lista de produtos</b></h1></div>
    {{#each retorno}}
        <section id="section-listaProduto">
            <div>
                <legend><b>Nome: {{nome}} </b><br>
                <legend><b>Categoria: {{categoria}} </b><br>
                <legend><b>Preço: R${{preco}}</b>
                <legend><b>Cadastrado: {{#formatDate createdAt}}{{/formatDate}} </b></legend>
            </div>
            <div>
                <a href="/produto/editar-produto/{{id}}">
                <button class="button-list">Editar</button>
                </a>
            </div>
         </section>
    {{/each}}
    <a href="http://localhost:8080/produto">
    <button class="button-list">Voltar</button>
    </a>
</main>
