<header>
        <div class="cabeçalho">
            <img src="./image/logo-binary-code.png" alt="logo-nav">
            <nav>
                <input type="text" name="search" placeholder="Pesquisar..">
            </nav>
            <div class="cabeçalho-perfil">
                <div><img class="cabeçalho-perfil-imagem" src="./image/perfil-de-usuario.png" alt="figura de perfil">
                </div>
                <div class="cabeçalho-perfil-conta">Conta</div>
            </div>
        </div>
    </header>
    <main>
        <section class="sectionPrincipal">
            <form action="http://localhost:8080/produto/editar-produto" method="post">
                <legend><b>Editar Produto</b></legend>
                <br>
                <div>
                    <input type="hidden" name="id" value="{{retorno.id}}">

                </div>
                <div>
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nomeProduto" class="inputUser"  value="{{retorno.nome}}" minlength="3" maxlength="50" required>

                </div>
                <div>
                    <label for="tipo">Categoria</label>
                    <input type="text" name="categoria" id="nomeProduto" class="inputUser" value="{{retorno.categoria}}" required>
                </div>
                <div>
                    <label for="preco">Preço</label>
                    <input type="number" name="preco" step="0.01" min="0.01" value="{{retorno.preco}}" required>
                </div>
                <div class="botoes">
                    <button class="form-button" type="submit">Alterar</button>
                </div>
            </form>
        </section>
         <main id="main-listaProduto">
            <a href="http://localhost:8080/produto/listar-alterar">
                <button class="button-list">Voltar</button>
            </a>
        </main>
    </main>