<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Página de cadastro</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <header>
        <div class="cabeçalho">
            <img src="./image/logo-binary-code.png" alt="logo-nav">
            <nav>
                <input type="text" name="search" placeholder="Pesquisar..">
            </nav>
            <div class="cabeçalho-perfil">
                <div><img class="cabeçalho-perfil-imagem" src="./image/perfil-de-usuario.png" alt="figura de perfil">
                </div>
                <div class="cabeçalho-perfil-conta">Conta</div>
            </div>
        </div>
    </header>
    <main>
        <section class="sectionPrincipal">
            <form action="http://localhost:8080/produto/cadastro" method="post">
                <legend><b>Cadastrar Produto</b></legend>
                <br>
                <div>
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nomeProduto" class="inputUser" required>

                </div>
                <div>
                    <label for="tipo">Tipo</label>
                    <input type="text" name="categoria" id="nomeProduto" class="inputUser" required>
                </div>
                <div>
                    <label for="preco">Preço</label>
                    <input type="number" name="preco" step="0.01" min="0.01" required>
                </div>
                <div>
                    <label for="imagem">Imagem</label>
                    <input type="file" name="foto" id="imagemIn" accept="image/png,image/jpeg" required>
                </div>
                <div class="botoes">
                    <button class="form-bottom" type="submit">Cadastrar</button>
                    <button class="form-bottom" type="submit">Voltar</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>