<header>
        <div class="cabeçalho">
            <img src="./image/logo-binary-code.png" alt="logo-nav">
        </div>
</header>
    <main>
        <section class="sectionPrincipal">
            <form action="http://localhost:8080/produto/cadastrar-produto" method="post">
                <legend><b>Cadastrar Produto</b></legend>
                <br>
                <div>
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nomeProduto" class="inputUser" minlength="3" maxlength="50" required>

                </div>
                <div>
                    <label for="tipo">Tipo</label>
                    <input type="text" name="categoria" id="nomeProduto" class="inputUser" required>
                </div>
                <div>
                    <label for="preco">Preço</label>
                    <input type="number" name="preco" step="0.01" min="0.01" required>
                </div>
                <div class="botoes">
                    <button class="form-button" type="submit">Cadastrar</button>
                   
                </div>
            </form>
             <img class="sectionImg" src="./image/desingConfig.jpg" alt="imgDesign">
        </section>
        <main id="main-listaProduto">
            <a href="http://localhost:8080/produto/">
                <button class="button-list">Voltar</button>
            </a>
        </main>
    </main>