 <header>
    <div class="cabeçalho">
        <img src="./image/logo-binary-code.png" alt="logo-nav">
        <nav>
            <input type="text" name="search" placeholder="Pesquisar..">
        </nav>
        <div class="cabeçalho-perfil">
            <div><img class="cabeçalho-perfil-imagem" src="./image/perfil-de-usuario.png" alt="figura de perfil">
            </div>
            <div class="cabeçalho-perfil-conta">Conta</div>
        </div>
    </div>
</header>
<main class="container-adm">
    <div class="title-adm">
        <h1><b>Administração</b></h1>
    </div>
    <div class="container-adm-opcao">
        <a href="http://localhost:8080/produto/cadastrar-produto">
        <button class="button-adm">Cadastrar produto</button>
        </a>
        <a href="http://localhost:8080/produto/listar-alterar">
        <button class="button-adm">Alterar produto</button>
        </a>
        
        <a href="http://localhost:8080/produto/listar-excluir">
        <button class="button-adm">Excluir produto</button>
        </a>
        <a href="http://localhost:8080/produto/listar-produto">
        <button class="button-adm">Listar produtos</button>
        </a>
    </div>
</main>